/* OurWines Component Styles */
.custom-catalog-button {
  padding: 14px 35px;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.wine-image {
  height: 300px;
}

.wine-image img {
  height: 100%;
  object-fit: contain;
}

.wine-info {
  padding: 20px 0 20px 20px;
}

.wine-price-info {
  margin-top: 15px;
}